@model List<Patient>

<h1>
    Patients
</h1>

<a asp-controller="Patients" asp-action="Register">
    Register
</a>

<ol>
    @foreach (var p in Model) {
        <li>
            <a asp-controller="Patients" asp-action="Details" asp-route-id="@p.Id">
                @p.FullName
            </a>
        </li>
    }
</ol>