@model PatientCreateVM

<form method="post">
    <h5 class="card-title">
        Register Patient
    </h5>
    <div class="form-floating mb-2">
        <input class="form-control" asp-for="FullName" />
        <label asp-for="FullName"></label>
        <span class="text-danger" asp-validation-for="FullName"></span>
    </div>
    <div class="form-floating mb-2">
        <input class="form-control" asp-for="DateOfBirth" type="date" />
        <label asp-for="DateOfBirth"></label>
        <span class="text-danger" asp-validation-for="DateOfBirth"></span>
    </div>
    <div class="form-floating mb-2">
        <input class="form-control" asp-for="Email" type="email" />
        <label asp-for="Email"></label>
        <span class="text-danger" asp-validation-for="Email"></span>
    </div>
    <div class="form-floating mb-2">
        <input class="form-control" asp-for="PhoneNumber" type="tel" />
        <label asp-for="PhoneNumber"></label>
        <span class="text-danger" asp-validation-for="PhoneNumber"></span>
    </div>
    <div class="form-floating mb-2">
        <input class="form-control" asp-for="NationalId" type="tel" />
        <label asp-for="NationalId"></label>
        <span class="text-danger" asp-validation-for="NationalId"></span>
    </div>

    <button class="btn btn-primary" type="submit">Register</button>
</form>
